<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
   <title>
   </title>
   <meta content="width=device-width, initial-scale=1" name="viewport"/>
  </meta>
 </head>
 <body>
  <div class="container" style="padding:5%; padding-right: 10%; padding-left: 10%; font-family:'sans-serif'">
   <header style="background-color: aliceblue;">
    <section class="row" id="hello" style="text-align: right; border-top: 10px solid dodgerblue; border-bottom: 2px solid dodgerblue">
     <section class="col-md-6">
     </section>
     <section class="col-md-6" style="margin-right:15%">
      <br/>
      <h4 style="font-family: 'sans-serif'; font-size: 1em">
       안녕하세요!
      </h4>
      <h2 style="font-family: 'sans-serif'; font-size: 1.5em">
       수강꿀팁입니다.
      </h2>
      <br/>
     </section>
    </section>
   </header>
   <main style="text-align: center;">
    <section class="row" id="explain" style="margin-top: 5%; margin-bottom:5%; font-weight:bold; font-size: 1em">
     본 메일은 수강꿀팁의 회원가입 인증번호 발송메일입니다.
    </section>
    <br/>
    <section class="row" id="code" style="padding:3%; margin:1%; border:1px solid lightblue; font-size: 1em">
     아래의 인증번호를 회원가입 페이지의 빈칸에 입력 후 확인 버튼을 누르시면 가입이 완료됩니다.
     <br/>
     <br/>
     <mark id="verifyKey" style="background-color: lightblue; font-size : 1em;">
      2580
     </mark>
    </section>
   </main>
  </div>
 </body>
</html>